#root {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100vh;
  height: 100vh;
  gap: 10px;
}

.input {
  display: flex;
  flex-direction: column;
  gap: 4px;
  width: 30vw;
  align-items: flex-start;
}

.error-message {
  color: red;
}
