.address {
  width: 320px;
  margin: 0 auto;

  .address-row {
    display: flex;
    flex-direction: row;
    gap: 10px;
    width: 100%;
  }

  .address-row:first-child .input {
    min-width: 250px
  }

  .address-row .input {
    width: 100%;
    min-width: 150px
  }
}