.login-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 350px;
  height: 350px;
  gap: 20px;
  border: 2px solid rgb(193, 192, 192);
  border-radius: 10px;
  margin: auto;
}

.form-controls {
  display: flex;
  flex-direction: column;
  justify-content: end;
  align-items: center;
  height: 70px;
  gap:  10px;
}

.login-form .input {
  width: 320px;
}

.ant-alert {
  padding: 1px 4px;
}

.ant-alert-content {
  font-size: 0.7rem;
}