.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100vw;
  background-color: rgba(241, 241, 239, 0.58);
}

.logoLink {
  display: flex;
  align-items: center;
  text-decoration: none;
}

.logoImage {
  width: 50px;
  height: 50px;
  margin-right: 8px;
}

.logoText {
  color: rgba(43, 39, 39, 0.87);
  font-size: 20px;
  font-weight: bold;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.ant-menu-light {
  background-color: rgba(241, 241, 239, 0.58);
}