:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color: rgba(43, 39, 39, 0.87);
  background-color: rgba(241, 241, 239, 0.58);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 2.5rem;
}

.not-found-container {
  user-select: none;
  margin: 4rem 0 3rem 0;
}

html, body, #root {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  width: 100%;
}
